
h1{
    text-align: center;
}

.calculator{
    display: flex;
    flex-direction: column;
    margin-left: 35%;
    margin-right: 35%;
    align-items: center;
}

.operations{
    display: flex;
}

button{
    font-size: 35px;
}